.background {
    background-color: hsl(220 calc(1 * 6.5%) 15% / 1);
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}