.cm-form-container {
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.cm-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
}

.cm-form > label {
    font-size: 20px;
}

.regular-input {
    background-color: hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    border-color: hsla(0, 0%, 0%, 0.15);
    width: 100%;
    height: 25px;
}

.message-input {
    min-width: 100%;
    min-height: 50px;
    max-width: 100%;
    max-height: 200px;
    background-color: hsla(0, 0%, 0%, 0.25);
    border-radius: 5px;
    border-color: hsla(0, 0%, 0%, 0.15);
    font: inherit;
    font-size: inherit;
}

.button-area {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
}

.submit-btn {
    width: 15%;
    height: 30px;
    border-radius: 5px;
    background-color: hsla(0, 0%, 0%, 0.25);
    border-color: transparent;
    font-weight: bold;
}

.confirmation {
    font-weight: bold;
    height: 100%;
    align-self: center;
    line-height: 2;
    width: 80%;
}

.submit-btn:hover {
    transform: scale(1.03);
}

::-webkit-scrollbar {
    background: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

:hover::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.5);
}

@media (min-width: 1720px) and (max-height: 949px) {
    .cm-form > label {
        font-size: 20px;
    }
}

@media (min-width: 1720px) and (min-height: 950px) {
    .cm-form > label {
        font-size: 24px;
    }
    .regular-input {
        height: 33px;
    }
    .message-input {
        min-height: 100px;
        max-height: 350px;
    }
    .button-area {
        height: 40px;
    }
    .submit-btn {
        width: 15%;
        height: 40px;
    }
    .confirmation {
        font-weight: bold;
        font-size: 18px;
    }
}

@media (max-width: 380px) and (max-height: 800px) {
    .cm-form > label {
        font-size: 20px;
    }
    .regular-input {
        height: 29px;
    }
    .message-input {
        min-height: 75px;
        max-height: 300px;
    }
    .button-area {
        height: 20px;
    }
    .submit-btn {
        width: 15%;
        height: 30px;
    }
    .confirmation {
        font-weight: bold;
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-height: 812px) {
    .cm-form > label {
        font-size: 20px;
    }
    .regular-input {
        height: 29px;
    }
    .message-input {
        min-height: 75px;
        max-height: 300px;
    }
    .button-area {
        height: 20px;
    }
    .submit-btn {
        width: 15%;
        height: 30px;
    }
    .confirmation {
        font-weight: bold;
        font-size: 16px;
    }
}

@media (min-width: 320px) and (max-width: 450px) and (min-height: 700px) and (max-height: 950px) {
    .cm-form > label {
        font-size: 15px;
    }
    .regular-input {
        height: 24px;
    }
    .message-input {
        min-height: 50px;
        max-height: 250px;
    }
    .button-area {
        height: 20px;
    }
    .submit-btn {
        width: 15%;
        height: 30px;
    }
    .confirmation {
        font-weight: bold;
        font-size: 16px;
    }
}