.name {
    display: flex;
    margin: 10px 0px 0px 20px;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.subname {
    display: flex;
    margin: 0px 0px 0px 20px;
    font-size: 15px;
    z-index: 1;
}