.profile-picture {
    display: flex;
    width: 100%; 
    height: 50px;
    margin: 0px 0px 0px 20px;
    /* z-index: -1; */
}

.profile-picture-background {
    display: flex;
    /* background-color: hsla(0, 0%, 0%, 0.75); */
    width: 146px;
    height: 146px;
    border-radius: 50%;
    position: relative;
    top: -75px;
    left: 8px;
    align-items: center;
    justify-content: center;
}

.profile-picture-background > img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: relative;
    /* border: 13px solid hsla(0, 0%, 0%, 0.071); */
}