.profile-picture {
    display: flex;
    width: 100%; 
    height: 50px;
    margin: 0px 0px 0px 20px;
}

.profile-picture-background {
    display: flex;
    width: 146px;
    height: 146px;
    border-radius: 50%;
    position: relative;
    top: -75px;
    left: 8px;
    align-items: center;
    justify-content: center;
}

.profile-picture-background > img {
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: relative;
}

.online-icon {
    display: flex;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50px;
    border: 0.5rem solid hsla(0, 0%, 0%, 0.75);
}

.contact-me-container {
    display: flex;
    align-self: flex-end;
    position: absolute;
    width: 76%;
    height: 10%;
}

.contact-me-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 10px;
    background-color: #1d3d64;
    top: 50%;
    left: 100%;
    border-radius: 5px;
}

.contact-me-icon {
    width: 20px;
    height: auto;
}

.contact-me-button:hover {
    transform: scale(1.01);
}