.sub-main-container {
    display: flex;
    flex-direction: column;
    width: 42rem;
    margin: 0 auto;
    height: 37.5rem;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: -120px;
    z-index: 0;
}

.svg-children-container {
    position: relative;
    z-index: -1;
    top: 120px;
}

.svg {
    display: block;
    position: relative;
    z-index: 0;
}

@media (min-width: 1420px) {
    .sub-main-container {
        width: 100%;
        height: auto;
        top: -20%;
    }
}
